.swiperView {
  display:flex;
  flex-direction: column;
  height: 300px;
  width:200px;
  background-color: #F9FBDC;
}
.matchInfo {
  display: flex;
  height:50%;
  align-items: center;
  justify-content: center;
}
.iconLogo {
  /* width: 15vw;
  height: 15vh; */
  width: 100px;
  height: 100px;
}