.itemsContainer {
  /* background:red;  */
  float:left;
  position:relative
}
.itemsContainer:hover .play{display:block}
.play{
position : absolute;
  display:none;
  top:30%; 
  width:40px;
  margin:0 auto; left:0px;
  right:0px;
  z-index:100
} 
.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
