.panel {
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right:30px;
  background-color: #da9833;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
}
