.fixture{
    &-row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.logo {
        width: 50px;
        height: 50px;
    }
    &.team-name {
        position: absolute;
        margin: 7px;
        &.home {
            right: 58%;
        }
        &.away {
            left: 58%;
        }
    }
    &.group-icon {
        display: flex;
        margin: auto;
    }
}
